h1{
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px 5px orange;


}

body{
    background: linear-gradient(darkorange, black);
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0 auto;
}

h2{
    color: #fff;
    font-size: 1.8rem;
    text-decoration: darkorange underline;
    text-align: center;
}

h3{
    color: #fff;
    font-size: 1.2rem;
    text-decoration: indianred underline;
    text-align: center;
}

h4{
    color: #fff;
    font-size: 0.8rem;
    text-decoration: mediumvioletred underline;
    text-align: center;
}